---
import { Code } from "astro:components";
---

<div class="flex flex-col overflow-x-auto">
    <div class="sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
            <div class="overflow-x-auto">
                <table
                    class="min-w-full text-start text-sm font-light text-surface dark:text-white"
                >
                    <thead
                        class="border-b border-neutral-200 font-medium dark:border-white/10"
                    >
                        <tr>
                            <th scope="col" class="px-6 py-4">Name</th>
                            <th scope="col" class="px-6 py-4">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            class="border-b border-neutral-200 dark:border-white/10"
                        >
                            <td class="whitespace-nowrap px-6 py-4 font-medium"
                                ><Code code="tse" theme="dark-plus" /></td
                            >
                            <td class="whitespace-nowrap px-6 py-4"
                                ><Code
                                    code="The TagScriptEngine module"
                                    theme="dark-plus"
                                /></td
                            >
                        </tr>
                        <tr
                            class="border-b border-neutral-200 dark:border-white/10"
                        >
                            <td class="whitespace-nowrap px-6 py-4 font-medium"
                                ><Code code="asyncio" theme="dark-plus" /></td
                            >
                            <td class="whitespace-nowrap px-6 py-4"
                                ><Code
                                    code="The standard library asyncio module"
                                    theme="dark-plus"
                                /></td
                            >
                        </tr>
                        <tr class="border-b">
                            <td class="whitespace-nowrap px-6 py-4 font-medium"
                                ><Code
                                    code="bot"
                                    theme="dark-plus"
                                /></td
                            >
                            <td class="whitespace-nowrap px-6 py-4"
                                ><Code
                                    code="The bot object"
                                    theme="dark-plus"
                                /></td
                            >
                        </tr>
                        <tr class="border-b">
                            <td class="whitespace-nowrap px-6 py-4 font-medium"
                                ><Code code="tags" theme="dark-plus" /></td
                            >
                            <td class="whitespace-nowrap px-6 py-4"
                                ><Code
                                    code="The Tags cog object"
                                    theme="dark-plus"
                                /></td
                            >
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
